@font-face {
    font-family: 'apercu';
    src:    url('Apercu-Black.eot');
    src:    url('Apercu-Black.eot?#iefix') format('embedded-opentype'),
            url('Apercu-Black.woff') format('woff'),
            url('Apercu-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
